body{
    background: rgb(41, 199, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
header{
    color: white;
    text-align: center;
}
section{
    width: 500px;
    height: 500px;
    background: white;
    margin: auto;
    border-radius: 20px;
}
div{
    padding-top: 20px;
    margin: 20px;
}
footer{
    color: white;
    text-align: center;
}
img{
    /* width: 400px; */
    border-radius: 20px;
    
}
#foto{
    height: 300px;
    /* width: 400px; */
}