body{
    /* text-align: center; */
    background: rgba(0, 162, 255, 0.323);
}
header{
    text-align: center;
}
section{
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    height: 300px;
    margin: auto;
    background: white;
    border-radius: 20px;
}
div{
    padding-top: 20px;
}
footer{
    text-align: center;
    padding-top: 5px;
}
